In [1]:
import pandas as pd
from indralib.indra_time import IndraTime
import re
import polars
import pyarrow as pa

In [2]:
# https://en.wikipedia.org/wiki/List_of_timelines

In [3]:
def remove_footnotes(text, numeric_only=True, single_letter_alpha=True):
    if numeric_only is False:
        text = re.sub(r"\[.*?\]", "", text)
    else:
        text = re.sub(r"\[\d+\]", "", text)
        if single_letter_alpha is True:
            text = re.sub(r"\[\w\]", "", text)
    return text

In [4]:
def extract_date_remarks(date):
    remarks = ""
    approxies = ["ca.", "c.", "circa", "fl.", "born", "died in", "Died", "died", "buried", "early", "or later", "later", "late", "mid", "or before", "before", 
                 "after", "around", "approximately", "~", ">", "<", "≈", "≥", "≤", "(?)", "?"]
    for ap in approxies:
        if ap in date:
            date = date.replace(ap, "").strip()
            if date != "":
                remarks = f"{ap}"
    if ' or ' in date:
        idx = date.find(' or ')
        remarks = date[idx+1:] 
        date = date[:idx]
    if date.endswith('s'):
        remarks = date
        date = date[:-1]
    if "±" in date:
        dates = date.split("±")
        date = dates[0].strip()
        append = dates[1].strip().split(" ")
        if len(append) > 1:
            date = date + " " + append[1]
            remarks = "±" + append[0]
        else:
            remark = "±" + dates[1].strip()
    date = date.replace("  ", " ")
    return date, remarks

In [5]:
def pre_clean(date):
    if isinstance(date, str):
        date = remove_footnotes(date)
        date = date.replace("–", " - ").replace("–", "-").replace("—", "-").replace("–", " - ").replace(" ", " ").replace("\u2009", " ") \
                   .replace(" to ", " - ").replace(",", "").replace("\xa0", " ").replace("  ", " ") \
                   .replace("AD", "").replace("BCE", "BC").replace("  ", " ").replace(" mya", " ma bp").strip()
    return date

In [6]:
def decenturize(date):
    bc = False
    cent = False
    remarks = ""
    org_date = date
    postf = ['st', 'nd', 'rd', 'th']
    if ' century BC' in date:
        bc = True
        fpf = False
        for pf in postf:
            if pf in date:
                date = date.replace(pf, '')
                fpf = True
                break
        if fpf is True:
            date = date.replace(' century BC', '')
            cent = True
    elif ' century' in date:
        if 'c. ' in date:
            date = date.replace("c. ", "")
        fpf = False
        for pf in postf:
            if pf in date:
                date = date.replace(pf, '')
                fpf = True
                break
        if fpf is True:
            date = date.replace(' century', '')
            cent = True
    if cent is False:
        return org_date, remarks
    century = date.strip()
    try:
        int_cent = int(century)
    except:
        return org_date, remarks
    if bc is True:
        if int_cent == 1:
            date = f"100 BC - 1 BC"
        else:
            date = f"{int_cent}00 BC - {int_cent-1}00 BC"
    else:
        if int_cent == 1:
            date = "1 - 100"
        else:
            date = f"{int_cent-1}00 - {int_cent}00"
    return date, org_date

In [7]:
def check_date_parts(parts):
    for p in parts:
        for c in p:
            if c <'0' or c>'9':
                return False
    return True

In [8]:
def date_clean(date, default_scale = None):
    remarks = ""
    if isinstance(date, str):
        date = pre_clean(date)
        date_sub = date.split("-")
        if len(date_sub)==3 or (len(date_sub)==2 and " - " not in date and check_date_parts(date_sub)):
            return date, remarks
        if default_scale is not None:
            date = date.split("-")
            if len(date) == 1:
                date = date[0].strip()+f" {default_scale}"
            else:
                date = f"{date[0].strip()} {default_scale} - {date[1].strip()} {default_scale}"
        else:            
            dates = date.split(" - ")
            new_dates = []
            for di in dates:
                dj, rem = extract_date_remarks(di)
                if len(rem)>0:
                    if len(remarks) == 0:
                        remarks = rem
                    else:
                        remarks += f", {rem}"
                dj, rem = decenturize(dj)
                if len(rem)>0:
                    if len(remarks) == 0:
                        remarks = rem
                    else:
                        remarks += f", {rem}"
                if "/" in dj:
                    dj_parts = dj.split("/")
                    dj = dj_parts[0].strip()
                    alt_dj_stub = dj_parts[1].strip()
                    alt_dj = dj[:len(dj)-len(alt_dj_stub)] + alt_dj_stub
                    rem = f"Alt.: {alt_dj}"       
                    if len(remarks) == 0:
                        remarks = rem
                    else:
                        remarks += f", {rem}"
                new_dates.append(dj)
            date = " - ".join(new_dates)
            dates = date.split(" - ")
            if len(dates) == 2:
                sub_dates0 = dates[0].split(" ")
                sub_dates1 = dates[1].split(" ")
                if len(sub_dates0)==1 and len(sub_dates1)==2:
                    date = f"{sub_dates0[0]} {sub_dates1[1]} - {dates[1]}"
    else:
        if default_scale is not None:
            date = f"{date} {default_scale}"
        else:
            date = str(int(date))
    jd_dates = IndraTime.string_time_to_julian(date)
    
    if len(jd_dates) > 1 and jd_dates[1] is not None:
        date_start = IndraTime.julian_to_string_time(jd_dates[0])
        date_end = IndraTime.julian_to_string_time(jd_dates[1])
        date = f"{date_start} - {date_end}"
    else:
        date = IndraTime.julian_to_string_time(jd_dates[0])

    return date, remarks

In [9]:
def date_merge(year, rest):
    day = None
    month = None
    year = pre_clean(year)
    rest = rest.strip()
    year = year.strip()
    if rest is not None and len(rest) > 0:
        rparts = rest.split(" ")
        if len(rparts) == 1:
            month = rparts[0].strip().lower()
        else:
            try:
                month = rparts[1].strip().lower()
                day = int(rparts[0].strip())
            except ValueError:
                month = None
                day = None
            if month is None and day is None:
                try:
                    month = rparts[0].strip().lower()
                    day = int(rparts[1].strip())
                except ValueError:
                    month = None
                    day = None
    else:
        month = None
        day = None
    if month is not None:
        val_months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]
        try:
            month_id = val_months.index(month) + 1
        except ValueError:
            month_id = None
            return f"{year}"
        year_parts = str(year).replace("\xa0"," ").split(" ", 1)
        if len(year_parts) > 1:
            year = year_parts[0]
            appendix = year_parts[1]
        else:
            appendix = ""
        if day is not None:
            date = f"{year}-{month_id:02d}-{day:02d}"
            if appendix != "":
                date = date + f" {appendix}"
        else:
            date = f"{year}-{month_id:02d}"
            if appendix != "":
                date = date + f" {appendix}"
        return date
    else:
        return f"{year}"

In [10]:
url= "https://de.wikipedia.org/wiki/Liste_homininer_Fossilien"
tables = pd.read_html(url)

In [11]:
tables[4]

,Abbildung,Name,Alter,Art,Jahr der Entdeckung,Fundort,Erstbeschreibung
0,NaN,Le Moustier,45 ka,Homo neanderthalensis,1909,Frankreich,Otto Hauser
1,NaN,Denisova-Mensch,48–30 ka,ungeklärt; (vermutlich Schwestergruppe der Ne...,2010,"Russland, Tibet",NaN
2,NaN,Neandertal 1,42 ka,Homo neanderthalensis (Holotypus),1856,"Neandertal, Deutschland",Johann Carl Fuhlrott
3,NaN,Spy I,42 ka,Homo neanderthalensis,1886,"Grotte de Spy, Jemeppe-sur-Sambre, Belgien","Marcel de Puydt, Max Lohest"
4,NaN,Spy II,42 ka,Homo neanderthalensis,1886,"Grotte de Spy, Jemeppe-sur-Sambre, Belgien","Marcel de Puydt, Max Lohest"
5,NaN,Mungo Man,40 ka,Homo sapiens,1974,Australien,Jim Bowler
6,NaN,Mungo Lady,40 ka,Homo sapiens,1969,Australien,Jim Bowler
7,Qafzeh VI,Qafzeh 6,NaN,Homo sapiens,NaN,Qafzeh-Höhle,NaN
8,Abb. des Unterkiefer-Fragments,Tianyuan 1,40 ka,Homo sapiens,2003,VR China,Hong Shang et al.
9,NaN,Hofmeyr-Schädel,36 ka,Homo sapiens,1952,Südafrika,NaN
10,NaN,Cro-Magnon 1,30 ka,Homo sapiens,1868,Frankreich,Édouard Lartet
11,Predmosti 3,Predmost 3,NaN,Homo sapiens,NaN,NaN,NaN
12,NaN,Afalou 13,NaN,NaN,NaN,NaN,NaN
13,NaN,Wadi Kubbaniya,NaN,NaN,NaN,NaN,NaN
14,NaN,Wadi Halfa 25,NaN,NaN,NaN,NaN,NaN
15,Minatogawa 1,Minatogawa 1,18–16 ka,Homo sapiens,1970,Japan,NaN
16,NaN,Tandou,NaN,NaN,NaN,NaN,NaN
17,Kow Swamp 1,Kow Swamp 1–22,13–9 ka,Homo sapiens,1968,Australien,A.G. Thorne
18,NaN,Wadjak 1,12–10 ka,Homo sapiens,1888,Indonesien,Eugène Dubois
19,NaN,SDM 16704 (Del Mar Man),"11,3 ± 1,2 ka[16]",Homo sapiens,NaN,USA (Kalifornien),NaN
20,NaN,Combe Capelle (Grab),9 ka (Neudatierung 2011!),Homo sapiens,1909,"Combe Capelle, Frankreich",Otto Hauser
21,NaN,Kennewick-Mann,"9,3 ka",Homo sapiens,1996,"Kennewick, USA",James C. Chatters
22,NaN,Lothagam 4b (Lo 4b),"7,5 ka",Homo sapiens,1965–1975,Kenia,NaN
23,NaN,Ötzi („Mann vom Tisenjoch“),"5,3 ka",Homo sapiens,1991,Ötztaler Alpen (zwischen Österreich und Italien),Helmut und Erika Simon
24,NaN,Tepexpan-Mensch,5 ka,Homo sapiens,1947,Mexiko,H. de Terra
25,NaN,Cerro Sota 2[17],"3,7 ka (BP)",Homo sapiens,1936,Chile,Junius Bird
26,NaN,Homo sapiens balangodensis,??,Homo sapiens,1969,Sri Lanka,P. E. P. Deraniyagala

In [28]:
hist = []
last_date = "<unknown>"
last_name = "<unknown>"
for table_index in range(5):
    # print(f"Table {table_index}")
    for i, row in enumerate(tables[table_index].iterrows()):
        remarks = ""
        pre_rem = ""
        post_rem = ""
        na_rem = ""
        date_raw = row[1].iloc[2]
        name = row[1].iloc[1]
        if pd.isna(date_raw) or date_raw == "" or date_raw == "??":
            na_rem = f"<NA>, date from previous table entry {last_name} used! "
            date_raw = last_date
        else:
            last_date = date_raw
            last_name = name
        date_raw = remove_footnotes(date_raw)
        ind = date_raw.find("ka,")
        if ind != -1:
            post_rem = date_raw[ind+3:]
            date_raw = date_raw[:ind] + "ka"
        if date_raw.startswith("ca. "):
            pre_rem = date_raw[:4]
            date_raw = date_raw[4:]
        dri = date_raw.split('(')
        if len(dri) > 1:
            date_raw = dri[0]
            post_rem = '('+'('.join(dri[1:])
        ind = date_raw.find('?')
        if ind != -1:
            post_rem = date_raw[ind:]
            date_raw = date_raw[:ind]
            
        date_raw = date_raw.replace(',', '.').replace('-', '–')
        date_inter = date_raw
        dps = date_raw.split(' ')
        if len(dps)>1 and dps[1] == 'mya':
            if '–' in dps[0]:
                dpsi = dps[0].split('–')
                date_inter = f"{dpsi[0]} mya - {dpsi[1]} " + ' '.join(dps[1:])
                  
        # print(f"Date_raw: {date_raw}")
        
        date, remarks = date_clean(date_inter)
        remarks = pre_rem + remarks + post_rem + na_rem
        # print(f"cv d:{date}, r:{remarks}")
        spec = row[1].iloc[3]
        if pd.isna(spec):
            spec = ""
        spec = remove_footnotes(spec)
        disc_date = row[1].iloc[4]
        if pd.isna(disc_date):
            disc_date = ""
        disc_date = remove_footnotes(str(disc_date))
        locat = row[1].iloc[5]
        if pd.isna(locat):
            locat = ""
        locat = remove_footnotes(locat)
        disc = row[1].iloc[6]
        if pd.isna(disc):
            disc = ""
        disc = remove_footnotes(disc)
        jd = IndraTime.string_time_to_julian(date)
        if len(jd) == 1:
            jd = (jd[0], jd[0])
        hist.append((jd, date, remarks, name, spec, disc_date, locat, disc))

entries = sorted(hist, key=lambda x: x[0])
print(f"| Date | Remarks | Name | Species | Discovery date | Location | First description |")
print( "| ---- | ------- | ---- | ------- | -------------- | -------- | ---------- |")
for entry in entries:
    _, date, remarks, name, spec, disc_date, locat, disc = entry
    date = date.replace("1 BC", "0 BC")
    print(f"| {date} | {remarks} | {name} | {spec} | {disc_date} | {locat} | {disc} |")

| Date | Remarks | Name | Species | Discovery date | Location | First description |
| ---- | ------- | ---- | ------- | -------------- | -------- | ---------- |
| 7000.0 kya BP - 6000.0 kya BP |  | TM 266-01-060-1  „Toumai“ | Sahelanthropus tchadensis  (Holotypus) | 2001 | Tschad | Michel Brunet |
| 6000.0 kya BP |  | BAR 1000a'00  BAR 1000b'00 | Orrorin tugenensis  (Holotypus) | 2000 | Kenia | Martin Pickford, Kiptalam Cheboi, Dominique Gommery, Pierre Mein, Brigitte Senut |
| 5500.0 kya BP - 5800.0 kya BP |  | ALA-VP 1/20 | Ardipithecus kadabba  (Holotypus) | 2001 | Äthiopien | Yohannes Haile-Selassie |
| 4400.0 kya BP |  | ARA-VP-6/500  „Ardi“ | Ardipithecus ramidus | 1994 | Äthiopien | Tim White et al. |
| 4200.0 kya BP - 3800.0 kya BP |  | KNM-KP 29281 | Australopithecus anamensis (Holotypus) | 1995 | Kanapoi (Kenia) | Meave Leakey et al. |
| 3800.0 kya BP - 3600.0 kya BP |  | LH 4 | Australopithecus afarensis (Holotypus) | 1974 | Laetoli (Tansania) | Mary Leakey |
| 3600.0 kya BP |  | doppelte Fußspur  (aus „Fundstelle G“) | vermutlich Australopithecus afarensis | 1976 | Laetoli (Tansania) | Mary Leakey |
| 3580.0 kya BP |  | KSD-VP-1/1  „Kadanuumuu“ | Australopithecus afarensis | 2005 | Äthiopien | Yohannes Haile-Selassie |
| 3500.0 kya BP |  | KNM-WT 40000 | Kenyanthropus platyops (Holotypus) | 1999 | Kenia | Justus Erus |
| 3500.0 kya BP - 3000.0 kya BP |  | KT-12/H1 | Australopithecus bahrelghazali (Holotypus) | 1993 | Tschad | Michel Brunet |
| 3400.0 kya BP |  | AL 129-1a / -1b Kniegelenk von Hadar | Australopithecus afarensis | 1973 | Äthiopien | Donald Johanson |
| 3300.0 kya BP | (?) | Stw 573  („Little Foot“) | Australopithecus spec. | 1994 | Südafrika | Ronald J. Clarke |
| 3300.0 kya BP |  | DIK 1-1 („Selam“) | Australopithecus afarensis | 2000 | Äthiopien | Zeresenay Alemseged |
| 3200.0 kya BP |  | AL 288-1 („Lucy“) | Australopithecus afarensis | 24. November 1974 | Äthiopien | Donald Johanson |
| 3200.0 kya BP |  | AL 333 („First Family“) | Australopithecus afarensis | 2. November 1975 | Äthiopien | Michael E. Bush |
| 3200.0 kya BP - 3000.0 kya BP |  | AL 200-1 | Australopithecus afarensis | 1975 | Äthiopien | Donald Johanson |
| 3000.0 kya BP |  | AL 444-2 | Australopithecus afarensis | 26. Februar 1992 | Äthiopien | Yoel Rak |
| 2800.0 kya BP - 2750.0 kya BP |  | LD 350-1 | Homo habilis?  Homo rudolfensis? | 2013 | Äthiopien | Chalachew Seyoum |
| 2800.0 kya BP - 2600.0 kya BP |  | STS 14 | Australopithecus africanus | 1947 | Südafrika | Robert Broom |
| 2800.0 kya BP - 2600.0 kya BP | <NA>, date from previous table entry STS 14 used!  | STS 52 | Australopithecus africanus |  |  |  |
| 2500.0 kya BP |  | STS 71 | Australopithecus africanus | 1947 | Südafrika | Robert Broom |
| 2500.0 kya BP |  | Kind von Taung | Australopithecus africanus (Holotypus) | 1924 | Südafrika | Raymond Dart |
| 2500.0 kya BP |  | KNM-WT 17.000 („Black Skull“) | Paranthropus aethiopicus | 1985 | Kenia | Alan Walker |
| 2500.0 kya BP |  | BOU-VP-12/130 | Australopithecus garhi (Holotypus) | 1997 | Äthiopien | Yohannes Haile-Selassie |
| 2400.0 kya BP |  | UR 501 | Homo rudolfensis | 1991 | Malawi | Friedemann Schrenk |
| 2400.0 kya BP |  | RC 911 | Paranthropus boisei | 1996 | Malawi | Friedemann Schrenk |
| 2300.0 kya BP |  | AL 666-1 | Homo spec. (Homo habilis ?) | 1994 | Äthiopien |  |
| 2160.0 kya BP - 2050.0 kya BP |  | Sts 5 (Mrs. Ples) | Australopithecus africanus | 1947 | Südafrika | Robert Broom |
| 2040.0 kya BP - 1950.0 kya BP |  | DNH 134 | Homo erectus | 2020 | Südafrika | Andy Herries |
| 2000.0 kya BP |  | TM 1517 | Paranthropus robustus | 1938 | Südafrika | Gert Terblanche |
| 2000.0 kya BP |  | MH1 | Australopithecus sediba (Holotypus) | 2010 | Südafrika | Lee Berger |
| 2000.0 kya BP - 1500.0 kya BP |  | StW 53 | Homo habilis  („Homo gautengensis“) | 1976.0 | Südafrika | A. R. Hughes |
| 2000.0 kya BP - 1500.0 kya BP |  | DNH 7 (Eurydice) | Paranthropus robustus | 1994.0 | Südafrika | André Keyser |
| 2000.0 kya BP - 1500.0 kya BP |  | SK 46 | Paranthropus robustus | 1949.0 | Südafrika | Robert Broom |
| 1900.0 kya BP |  | KNM-ER 1813 | Homo habilis | 1973.0 | Kenia | Kamoya Kimeu |
| 1900.0 kya BP |  | KNM-ER 1470 | Homo rudolfensis (Holotypus) | 1972.0 | Kenia | Bernard Ngeneo |
| 1800.0 kya BP |  | SK 48 | Paranthropus robustus | 1948.0 | Südafrika | Robert Broom |
| 1800.0 kya BP |  | OH 5 „Zinj“ oder „Nussknackermensch“  (+ Unterkiefer Peninj 1) | Paranthropus boisei (Holotypus) | 1959.0 | Tansania | Mary Leakey |
| 1800.0 kya BP |  | OH 8 | Homo habilis | 1960.0 | Tansania | Jonathan Leakey |
| 1800.0 kya BP |  | OH 24 („Twiggy“) | Homo habilis | 1968.0 | Tansania | Peter Nzube |
| 1800.0 kya BP |  | OH 62 („Dik-dik hominid“) | Homo habilis | 1986.0 | Tansania | Tim White |
| 1800.0 kya BP |  | OH 65 | Homo habilis | 1995.0 | Tansania | Fidelis Masao |
| 1800.0 kya BP |  | D 2700 | Homo erectus ergaster georgicus | 2001.0 | Georgien |  |
| 1800.0 kya BP - 1500.0 kya BP |  | SK 847 | Homo erectus Homo ergaster ?  „Homo gautengensis“ | 1969.0 | Südafrika | Ronald J. Clarke |
| 1750.0 kya BP |  | OH 7 „Jonnys Child“ | Homo habilis (Holotypus) | 1960.0 | Tansania | Jonathan Leakey |
| 1750.0 kya BP |  | KNM-ER 3733 | Homo erectus (H. ergaster ?) | 1975.0 | Kenia | Bernard Ngeneo |
| 1740.0 kya BP |  | KNM-ER 1805 | Homo habilis |  | Koobi Fora, Kenia |  |
| 1700.0 kya BP |  | OH 16 „George“ | Homo habilis | 1963.0 | Tansania | Maiko Mutumbo |
| 1700.0 kya BP |  | KNM-ER 406 | Paranthropus boisei | 1969.0 | Kenia | Richard Leakey |
| 1700.0 kya BP |  | KNM-ER 732 | Paranthropus boisei | 1970.0 | Kenia | Richard Leakey |
| 1700.0 kya BP | <NA>, date from previous table entry KNM-ER 732 used!  | KNM-ER 23000 |  |  |  |  |
| 1600.0 kya BP |  | Sangiran 4 | Homo erectus | 1939.0 | Java | G.H.R. von Koenigswald |
| 1600.0 kya BP |  | OH 13 „Cindy“ | Homo habilis | 1963.0 | Tansania | Louis Leakey |
| 1600.0 kya BP - 1400.0 kya BP |  | KNM-ER 3883 | Homo erectus (H. ergaster ?) |  | Kenia | Richard Leakey |
| 1500.0 kya BP |  | KNM-WT 15000 („Nariokotome-Junge“) | Homo erectus (H. ergaster ?) | 1984.0 | Kenia | Kamoya Kimeu |
| 1500.0 kya BP |  | Peninj 1 oder  Peninj Mandible | Paranthropus boisei | 1964.0 | Peninj, Tansania | Kamoya Kimeu |
| 1500.0 kya BP |  | OH 9 („Chellean Man“) | Homo erectus | 1960.0 | Tansania | Louis Leakey |
| 1500.0 kya BP |  | KNM-ER 992 | Homo erectus (Holotypus von H. ergaster ?) | 1971.0 | Kenia | Richard Leakey |
| 1500.0 kya BP | ca.  | Sangiran 2 | Homo erectus | 1937.0 | Java | G.H.R. von Koenigswald |
| 1400.0 kya BP |  | KGA 10-525 | Paranthropus boisei | 1993.0 | Äthiopien | A. Amzaye |
| 1400.0 kya BP - 1100.0 kya BP | ca.  | ATE7-1 | Homo aff erectus. | 2025.0 | Sierra de Atapuerca (Sima del Elefante) | Rosa Huguet et al. 2025 |
| 1250.0 kya BP | ca. (1,6–0,8 mya) | Sangiran 17  Pithecanthropus VIII | Homo erectus | 1969.0 | Java | Herr Towikromo |
| 1200.0 kya BP | ca.  | ATE9-1 | Homo sp. | 2008.0 | Sierra de Atapuerca (Sima del Elefante) | Eduald Carbonell et al. 2008 |
| 1000.0 kya BP - 700.0 kya BP |  | Trinil 2 oder  Pithecanthropus-1 oder Java-Mensch | Homo erectus (Holotypus) | 1891 | Indonesien | Eugène Dubois |
| 1000.0 kya BP - 600.0 kya BP | ? 600 ka ? 500–200 ka ? | Saldanha 1  Homo saldanensis | Homo erectus ?  archaischer Homo sapiens ? | 1953 | Südafrika | Matthew Robertson Drennan, 1955 |
| 1000.0 kya BP - 600.0 kya BP | ? 600 ka ? 500–200 ka ?<NA>, date from previous table entry Saldanha 1  Homo saldanensis used!  | PA 830 | Homo erectus |  | Kreis He, China |  |
| 1000.0 kya BP - 600.0 kya BP | ? 600 ka ? 500–200 ka ?<NA>, date from previous table entry Saldanha 1  Homo saldanensis used!  | Zhoukoudian XII | Homo erectus |  | Zhoukoudian, China |  |
| 900.0 kya BP - 450.0 kya BP |  | Ceprano 1 Homo cepranensis | Homo erectus ? | 1994 | Italien | Francesco Mallegni et al. 2003 |
| 860.0 kya BP - 780.0 kya BP | ca.  | ATD6-5 | Homo antecessor (Holotypus) Homo erectus ? | 1995 | Sierra de Atapuerca (Gran Dolina) | José María Bermúdez de Castro |
| 770.0 kya BP |  | Peking-Mensch oder Sinanthropus pekinensis | Homo erectus | 1921–1937 | Peking | Otto Zdansky, Davidson Black |
| 700.0 kya BP |  | Tighenif 1 (= Ternifine 1)  Atlanthropus mauritanicus / Homo mauritanicus  Homo erectus mauritanicus | Homo erectus | 1954 | Tighennif (Ternifine), Algerien | Camille Arambourg, 1954 |
| 600.0 kya BP |  | Bodo 1 | Homo erectus | 1976 | Äthiopien | B. Asfaw |
| 600.0 kya BP |  | GPIH.1 Unterkiefer von Mauer („Heidelberg-Mensch“) | Homo heidelbergensis oder  Homo erectus heidelbergensis (Typusexemplar) | 1907 | Mauer (Baden), Deutschland | Daniel Hartmann |
| 525.0 kya BP - 395.0 kya BP | ca.  | BH-1 | Homo heidelbergensis | 2008 | Serbien | Mirjana Roksandic et al. 2011 |
| 500.0 kya BP - 300.0 kya BP | ca.  | Atapuerca 5 („Miguelón“) | Homo heidelbergensis | 1992 | Sierra de Atapuerca (Sima de los Huesos) | J. M. Bermúdez de Castro |
| 500.0 kya BP - 250.0 kya BP |  | Petralona 1 | Homo heidelbergensis | 1960 | Griechenland |  |
| 500.0 kya BP - 200.0 kya BP |  | Hathnora 1 | Homo erectus (H. erectus narmadensis) oder Homo heidelbergensis | 5. Dezember 1982 | Indien | Arun Sonakia |
| 400.0 kya BP | (?) | Salé 1 | Homo erectus ?  archaischer Homo sapiens ? | 1971 | Salé, Marokko | Jean-Jacques Jaeger |
| 400.0 kya BP |  | Arago XXI + Arago XLVII (Mensch von Tautavel) | Homo erectus tautavelensis  oder Homo heidelbergensis | 1971 | Tautavel, Frankreich | Henry de Lumley |
| 400.0 kya BP |  | Swanscombe-Schädel | Homo heidelbergensis | 1935 | England | Alvan T. Marston |
| 400.0 kya BP - 350.0 kya BP |  | Homo erectus bilzingslebenensis | Homo erectus? | 1972 | Bilzingsleben, Deutschland | Emanuel Vlček, 1978 |
| 400.0 kya BP - 200.0 kya BP |  | Ndutu 1 | Homo erectus ?  archaischer Homo sapiens ? | 1973 | Ndutu-See, Tansania | Amini Mturi |
| 335.0 kya BP - 236.0 kya BP | (wahrscheinlichstes Alter) | Dinaledi Hominin 1 (DH1) inmitten von 1550 Knochen und Zähnen von 15 Individuen | Homo naledi (Holotypus) | 2013 | Südafrika | Lee Berger et al., 2015 |
| 328.0 kya BP - 310.0 kya BP |  185 ka | Vértesszőlős I und II Homo erectus palaeohungaricus | Homo erectus? | 1965 | Vértesszőlős, Ungarn | Andor Thoma, 1966 |
| 300.0 kya BP |  | Steinheim Homo steinheimensis | Homo heidelbergensis | 1933 | Steinheim an der Murr, Deutschland | Fritz Berckhemer, 1936 |
| 300.0 kya BP |  | Irhoud 1 | Archaischer Homo sapiens | 1961 | Djebel Irhoud, Marokko |  |
| 300.0 kya BP |  | Irhoud 2 | Archaischer Homo sapiens | 1963 | Djebel Irhoud, Marokko |  |
| 300.0 kya BP |  | Irhoud 3 | Archaischer Homo sapiens | 1968 | Djebel Irhoud, Marokko |  |
| 300.0 kya BP - 260.0 kya BP |  | „Dali-Mensch“ | Homo erectus | 1978 | China | Shuntang Liu |
| 300.0 kya BP - 200.0 kya BP |  | Kabwe 1 (Broken Hill 1) | Homo rhodesiensis (Holotypus) Archaischer Homo sapiens ? Homo erectus ? | 1921 | Nordrhodesien (heute: Sambia) | Tom Zwiglaar |
| 260.0 kya BP |  | Florisbad 1  Homo helmei Homo florisbadensis | Archaischer Homo sapiens | 1932 | Südafrika | Thomas F. Dreyer, 1935 (als „Africanthropus helmei“) |
| 250.0 kya BP |  | Ngandong 7 | Homo erectus | 1931 | Indonesien | C. ter Haar und G.H.R. von Koenigswald |
| 250.0 kya BP |  | Saccopastore 1 | Homo neanderthalensis | 1929 | Italien | A. Giovannini und V. Casorri |
| 250.0 kya BP |  | Ehringsdorfer Urmensch | Homo neanderthalensis | 1908 | Ehringsdorf, Deutschland | Gustav Schwalbe, 1914, Hans Virchow, 1914, 1920, Emanuel Vlček, 1993 |
| 200.0 kya BP |  | LH 18 | Archaischer Homo sapiens | 1976 | Tansania | Day et al. 1980 |
| 200.0 kya BP - 160.0 kya BP |  | Xujiayao-Mensch | Homo juluensis | 2024 | China | Wu & Bae 2024 |
| 195.0 kya BP |  | Omo 1 | Archaischer Homo sapiens | 1967/2001 | Äthiopien | Richard Leakey |
| 195.0 kya BP |  | Omo 2 | später Homo erectus oder Archaischer Homo sapiens | 1967 | Äthiopien | Richard Leakey |
| 172.0 kya BP - 130.0 kya BP |  | Altamura-Mann | Homo neanderthalensis | 1993 | Altamura, Italien | Eligio Vacca |
| 160.0 kya BP |  | Herto-Schädel  Homo sapiens idaltu | Archaischer Homo sapiens | 1997–2003 | Herto (Mittlerer Awash, Äthiopien) | Tim White, Berhane Asfaw et al., 2003 |
| 150.0 kya BP - 120.0 kya BP |  | Singa 1 | Archaischer Homo sapiens | 1924 | Singa, Sudan | W.R.G. Bond |
| 132.0 kya BP - 88000 BP |  | Eyasi 1 | Homo sapiens | 1935 | Eyasisee, Tansania | Hans Reck und Ludwig Kohl-Larsen, 1936 |
| 130.0 kya BP |  | Krapina 3 | Homo neanderthalensis | 1899 | Kroatien | Dragutin Gorjanović Kramberger |
| 125.0 kya BP - 75000 BP |  | Klasies-River-Höhlen | Homo sapiens | ab 1960 | Südafrika | Ray Inskeep, Robin Singer, John Wymer, Hilary John Deacon |
| 120.0 kya BP |  | Tabun C1 | Homo neanderthalensis | 1967–1972 | Israel | Arthur Jelinek |
| 100000 BP | ca.  | Skhul V | Homo sapiens | 1933 | Skhul-Höhle, Karmel, Israel | Theodore D. McCown und H. Moivus, Jr. |
| 100000 BP | ca.  | Qafzeh IX | Homo sapiens | 1933 | Qafzeh-Höhle, Israel | Theodore D. McCown und H. Moivus, Jr. |
| 100000 BP | ca. <NA>, date from previous table entry Qafzeh IX used!  | Skhul IX | Neandertaler? später Archaischer Homo sapiens? |  | Skhul-Höhle, Karmel, Israel |  |
| 100000 BP | ca.  | Qafzeh VI | Homo sapiens | 1933 | Qafzeh-Höhle, Israel | Theodore D. McCown und H. Moivus, Jr. |
| 100000 BP - 60000 BP | ca.  | LB1 („Hobbit“) | Homo floresiensis (Holotypus) | 2003 | Indonesien | Peter Brown et al. |
| 100000 BP - 50000 BP |  | NG 6 | Homo erectus | 1931 | Indonesien | C. ter Haar und G.H.R. von Koenigswald |
| 80000 BP - 60000 BP |  | Shanidar 1 | Homo neanderthalensis | 1961 | Irak | Ralph Solecki |
| 70000 BP |  | La Ferrassie 1 | Homo neanderthalensis | 17. September, 1909 | Frankreich | R. Capitan und D. Peyrony |
| 70000 BP | <NA>, date from previous table entry La Ferrassie 1 used!  | La Quina 5 | Homo neanderthalensis |  | Frankreich |  |
| 70000 BP | <NA>, date from previous table entry La Ferrassie 1 used!  | La Quina 18 | Homo neanderthalensis |  | Frankreich |  |
| 70000 BP | <NA>, date from previous table entry La Ferrassie 1 used!  | Guattari 1 (ehemals Circeo I) | Homo neanderthalensis | 1939 | Italien | Alberto Carlo Blanc |
| 70000 BP - 45000 BP |  | Gibraltar 1 | Homo neanderthalensis | 1848 | Gibraltar |  |
| 60000 BP |  | La Chapelle-aux-Saints 1 | Homo neanderthalensis | 3. August 1908 | Frankreich | A. und J. Bouyssonie, L. Bardon |
| 60000 BP - 50000 BP |  | Amud 1 | Homo neanderthalensis |  | Amud-Höhle, Israel |  |
| 55000 BP |  | Amud 7 | Homo neanderthalensis |  | Amud-Höhle, Israel |  |
| 48000 BP - 30000 BP |  | Denisova-Mensch | ungeklärt;  (vermutlich Schwestergruppe der Neandertaler) | 2010 | Russland, Tibet |  |
| 45000 BP |  | Le Moustier | Homo neanderthalensis | 1909 | Frankreich | Otto Hauser |
| 42000 BP |  | Neandertal 1 | Homo neanderthalensis (Holotypus) | 1856 | Neandertal, Deutschland | Johann Carl Fuhlrott |
| 42000 BP |  | Spy I | Homo neanderthalensis | 1886 | Grotte de Spy, Jemeppe-sur-Sambre, Belgien | Marcel de Puydt, Max Lohest |
| 42000 BP |  | Spy II | Homo neanderthalensis | 1886 | Grotte de Spy, Jemeppe-sur-Sambre, Belgien | Marcel de Puydt, Max Lohest |
| 40000 BP |  | Mungo Man | Homo sapiens | 1974 | Australien | Jim Bowler |
| 40000 BP |  | Mungo Lady | Homo sapiens | 1969 | Australien | Jim Bowler |
| 40000 BP | <NA>, date from previous table entry Mungo Lady used!  | Qafzeh 6 | Homo sapiens |  | Qafzeh-Höhle |  |
| 40000 BP |  | Tianyuan 1 | Homo sapiens | 2003 | VR China | Hong Shang et al. |
| 36000 BP |  | Hofmeyr-Schädel | Homo sapiens | 1952 | Südafrika |  |
| 30000 BP |  | Cro-Magnon 1 | Homo sapiens | 1868 | Frankreich | Édouard Lartet |
| 30000 BP | <NA>, date from previous table entry Cro-Magnon 1 used!  | Predmost 3 | Homo sapiens |  |  |  |
| 30000 BP | <NA>, date from previous table entry Cro-Magnon 1 used!  | Afalou 13 |  |  |  |  |
| 30000 BP | <NA>, date from previous table entry Cro-Magnon 1 used!  | Wadi Kubbaniya |  |  |  |  |
| 30000 BP | <NA>, date from previous table entry Cro-Magnon 1 used!  | Wadi Halfa 25 |  |  |  |  |
| 18000 BP - 16000 BP |  | Minatogawa 1 | Homo sapiens | 1970 | Japan |  |
| 18000 BP - 16000 BP | <NA>, date from previous table entry Minatogawa 1 used!  | Tandou |  |  |  |  |
| 11050 BC - 7050 BC |  | Kow Swamp 1–22 | Homo sapiens | 1968 | Australien | A.G. Thorne |
| 10050 BC - 8050 BC |  | Wadjak 1 | Homo sapiens | 1888 | Indonesien | Eugène Dubois |
| 9350 BC | ±1.2 | SDM 16704 (Del Mar Man) | Homo sapiens |  | USA (Kalifornien) |  |
| 7350 BC |  | Kennewick-Mann | Homo sapiens | 1996 | Kennewick, USA | James C. Chatters |
| 7050 BC | (Neudatierung 2011!) | Combe Capelle (Grab) | Homo sapiens | 1909 | Combe Capelle, Frankreich | Otto Hauser |
| 5550 BC |  | Lothagam 4b (Lo 4b) | Homo sapiens | 1965–1975 | Kenia |  |
| 3350 BC |  | Ötzi („Mann vom Tisenjoch“) | Homo sapiens | 1991 | Ötztaler Alpen (zwischen Österreich und Italien) | Helmut und Erika Simon |
| 3050 BC |  | Tepexpan-Mensch | Homo sapiens | 1947 | Mexiko | H. de Terra |
| 1750 BC | (BP) | Cerro Sota 2[17] | Homo sapiens | 1936 | Chile | Junius Bird |
| 1750 BC | (BP)<NA>, date from previous table entry Cerro Sota 2[17] used!  | Homo sapiens balangodensis | Homo sapiens | 1969 | Sri Lanka | P. E. P. Deraniyagala |

In [31]:
url= "https://en.wikipedia.org/wiki/Flyby_anomaly"
tables = pd.read_html(url)
ptab = polars.from_pandas(tables[0])
print(ptab)

shape: (11, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ CraftData ┆ Galileo I ┆ Galileo   ┆ NEAR      ┆ … ┆ Juno      ┆ Hayabusa2 ┆ OSIRIS-RE ┆ BepiColo │
│ ---       ┆ ---       ┆ II        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ x[8]      ┆ mbo[9]   │
│ str       ┆ str       ┆ ---       ┆ str       ┆   ┆ str       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆           ┆   ┆           ┆           ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Date      ┆ 1990-12-0 ┆ 1992-12-0 ┆ 1998-01-2 ┆ … ┆ 2013-10-0 ┆ 2015-12-0 ┆ 2017-09-2 ┆ 2020-04- │
│           ┆ 8         ┆ 8         ┆ 3         ┆   ┆ 9         ┆ 3         ┆ 2         ┆ 10       │
│ Speed at  ┆ 8.949     ┆ 8.877     ┆ 6.851     ┆ … ┆ null      ┆ 4.7       ┆ null      ┆ null     │
│ infinity, ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ km/s      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Speed at  ┆ 13.738    ┆ 8.877     ┆ 12.739    ┆ … ┆ 14.93     ┆ 10.3      ┆ 8.5       ┆ null     │
│ perigee,  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ km/s      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Impact    ┆ 11261     ┆ null      ┆ 12850     ┆ … ┆ null      ┆ null      ┆ null      ┆ 19064    │
│ parameter ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ , km      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Minimal   ┆ 956       ┆ 303       ┆ 532       ┆ … ┆ 561[10]   ┆ 3090[11]  ┆ 17237     ┆ 12677    │
│ altitude, ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ km        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Trajector ┆ 142.9     ┆ 138.9     ┆ 108.0     ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ y inclina ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ tion to   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ equa…     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Deflectio ┆ 47.46     ┆ 51.1      ┆ 66.92     ┆ … ┆ null      ┆ 80        ┆ null      ┆ null     │
│ n angle,  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ degrees   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Speed     ┆ 3.92±0.08 ┆ −4.60±1.0 ┆ 13.46±0.1 ┆ … ┆ 0±0.8[5]  ┆ ?         ┆ ?         ┆ ?        │
│ increment ┆           ┆ 0         ┆ 3         ┆   ┆           ┆           ┆           ┆          │
│ at        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ infinity, ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ m…        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Speed     ┆ 2.560±0.0 ┆ −9.200±0. ┆ 7.210±0.0 ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ increment ┆ 50        ┆ 600       ┆ 700       ┆   ┆           ┆           ┆           ┆          │
│ at        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ perigee,  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mm…       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Gained    ┆ 35.1±0.7  ┆ null      ┆ 92.2±0.9  ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ energy,   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ J/kg      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [34]:

# Transpose the table, get column names from previous index
ptabt = ptab.transpose(include_header=True)
print(ptabt)

shape: (13, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ column    ┆ column_0  ┆ column_1  ┆ column_2  ┆ … ┆ column_7  ┆ column_8  ┆ column_9  ┆ column_1 │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ 0        │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ CraftData ┆ Date      ┆ Speed at  ┆ Speed at  ┆ … ┆ Deflectio ┆ Speed     ┆ Speed     ┆ Gained   │
│           ┆           ┆ infinity, ┆ perigee,  ┆   ┆ n angle,  ┆ increment ┆ increment ┆ energy,  │
│           ┆           ┆ km/s      ┆ km/s      ┆   ┆ degrees   ┆ at        ┆ at        ┆ J/kg     │
│           ┆           ┆           ┆           ┆   ┆           ┆ infinity, ┆ perigee,  ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆ m…        ┆ mm…       ┆          │
│ Galileo I ┆ 1990-12-0 ┆ 8.949     ┆ 13.738    ┆ … ┆ 47.46     ┆ 3.92±0.08 ┆ 2.560±0.0 ┆ 35.1±0.7 │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆           ┆ 50        ┆          │
│ Galileo   ┆ 1992-12-0 ┆ 8.877     ┆ 8.877     ┆ … ┆ 51.1      ┆ −4.60±1.0 ┆ −9.200±0. ┆ null     │
│ II        ┆ 8         ┆           ┆           ┆   ┆           ┆ 0         ┆ 600       ┆          │
│ NEAR      ┆ 1998-01-2 ┆ 6.851     ┆ 12.739    ┆ … ┆ 66.92     ┆ 13.46±0.1 ┆ 7.210±0.0 ┆ 92.2±0.9 │
│           ┆ 3         ┆           ┆           ┆   ┆           ┆ 3         ┆ 700       ┆          │
│ Cassini   ┆ 1999-08-1 ┆ 16.01     ┆ 19.03     ┆ … ┆ 19.66     ┆ −2±1      ┆ −1.700±0. ┆ null     │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆           ┆ 9000      ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Rosetta-I ┆ 2009-11-1 ┆ null      ┆ 13.34     ┆ … ┆ null      ┆ ~0        ┆ −0.004±0. ┆ null     │
│ II        ┆ 3         ┆           ┆           ┆   ┆           ┆           ┆ 044       ┆          │
│ Juno      ┆ 2013-10-0 ┆ null      ┆ 14.93     ┆ … ┆ null      ┆ 0±0.8[5]  ┆ null      ┆ null     │
│           ┆ 9         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Hayabusa2 ┆ 2015-12-0 ┆ 4.7       ┆ 10.3      ┆ … ┆ 80        ┆ ?         ┆ ?         ┆ ?        │
│           ┆ 3         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ OSIRIS-RE ┆ 2017-09-2 ┆ null      ┆ 8.5       ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ x[8]      ┆ 2         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ BepiColom ┆ 2020-04-1 ┆ null      ┆ null      ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ bo[9]     ┆ 0         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [42]:
for i, row in enumerate(ptabt.iter_rows(named=True)):
    print("|", end="")
    for key in row:
        print(f" {row[key]} |", end="")
    print()
    if i == 0:
        print("|", end="")
        for key in row:
            print(f" {'-'*len(row[key])} |", end="")
        print()

| CraftData | Date | Speed at infinity, km/s | Speed at perigee, km/s | Impact parameter, km | Minimal altitude, km | Spacecraft mass, kg | Trajectory inclination to equator, degrees | Deflection angle, degrees | Speed increment at infinity, mm/s | Speed increment at perigee, mm/s | Gained energy, J/kg |
| --------- | ---- | ----------------------- | ---------------------- | -------------------- | -------------------- | ------------------- | ------------------------------------------ | ------------------------- | --------------------------------- | -------------------------------- | ------------------- |
| Galileo I | 1990-12-08 | 8.949 | 13.738 | 11261 | 956 | 2497.1 | 142.9 | 47.46 | 3.92±0.08 | 2.560±0.050 | 35.1±0.7 |
| Galileo II | 1992-12-08 | 8.877 | 8.877 | None | 303 | 2223.0 | 138.9 | 51.1 | −4.60±1.00 | −9.200±0.600 | None |
| NEAR | 1998-01-23 | 6.851 | 12.739 | 12850 | 532 | 730.40 | 108.0 | 66.92 | 13.46±0.13 | 7.210±0.0700 | 92.2±0.9 |
| Cassini | 1999-08-18 | 16.01 | 19.03 | 8973 | 1172 | 4612.1 | 25.4 | 19.66 | −2±1 | −1.700±0.9000 | None |
| Rosetta-I | 2005-03-04 | 3.863 | 10.517 | 22680.49 | 1954 | 2895.2 | 144.9 | 99.396 | 1.82±0.05 | 0.670±0.0200 | 7.03±0.19 |
| MESSENGER | 2005-08-02 | 4.056 | 10.389 | 22319 | 2336 | 1085.6 | 133.1 | 94.7 | 0.02±0.01 | 0.008±0.004 | None |
| Rosetta-II | 2007-11-13 | None | 12.49 | None | 5322 | 2895 | None | None | ~0 | ~0.000±0.000 | None |
| Rosetta-III | 2009-11-13 | None | 13.34 | None | 2483 | 2895 | None | None | ~0 | −0.004±0.044 | None |
| Juno | 2013-10-09 | None | 14.93 | None | 561[10] | ~2720 | None | None | 0±0.8[5] | None | None |
| Hayabusa2 | 2015-12-03 | 4.7 | 10.3 | None | 3090[11] | 590 | None | 80 | ? | ? | ? |
| OSIRIS-REx[8] | 2017-09-22 | None | 8.5 | None | 17237 | None | None | None | ? | ? | ? |
| BepiColombo[9] | 2020-04-10 | None | None | 19064 | 12677 | 4000 | None | None | ? | ? | ? |

In [102]:
tables[0]

CraftData,index,Date,"Speed at infinity, km/s","Speed at perigee, km/s","Impact parameter, km","Minimal altitude, km","Spacecraft mass, kg","Trajectory inclination to equator, degrees","Deflection angle, degrees","Speed increment at infinity, mm/s","Speed increment at perigee, mm/s","Gained energy, J/kg"
0,Galileo I,1990-12-08,8.949,13.738,11261,956,2497.1,142.9,47.46,3.92±0.08,2.560±0.050,35.1±0.7
1,Galileo II,1992-12-08,8.877,8.877,NaN,303,2223.0,138.9,51.1,−4.60±1.00,−9.200±0.600,NaN
2,NEAR,1998-01-23,6.851,12.739,12850,532,730.40,108.0,66.92,13.46±0.13,7.210±0.0700,92.2±0.9
3,Cassini,1999-08-18,16.01,19.03,8973,1172,4612.1,25.4,19.66,−2±1,−1.700±0.9000,NaN
4,Rosetta-I,2005-03-04,3.863,10.517,22680.49,1954,2895.2,144.9,99.396,1.82±0.05,0.670±0.0200,7.03±0.19
5,MESSENGER,2005-08-02,4.056,10.389,22319,2336,1085.6,133.1,94.7,0.02±0.01,0.008±0.004,NaN
6,Rosetta-II,2007-11-13,NaN,12.49,NaN,5322,2895,NaN,NaN,~0,~0.000±0.000,NaN
7,Rosetta-III,2009-11-13,NaN,13.34,NaN,2483,2895,NaN,NaN,~0,−0.004±0.044,NaN
8,Juno,2013-10-09,NaN,14.93,NaN,561[10],~2720,NaN,NaN,0±0.8[5],NaN,NaN
9,Hayabusa2,2015-12-03,4.7,10.3,NaN,3090[11],590,NaN,80,?,?,?
10,OSIRIS-REx[8],2017-09-22,NaN,8.5,NaN,17237,NaN,NaN,NaN,?,?,?
11,BepiColombo[9],2020-04-10,NaN,NaN,19064,12677,4000,NaN,NaN,?,?,?