In [1]:
import pandas as pd
from indralib.indra_time import IndraTime
import polars

from wiki_exporter_tools import read_wiki_data_as_pandas, remove_footnotes, date_clean, date_merge

In [2]:
url= "https://en.wikipedia.org/wiki/Timeline_of_Irish_history"
tables = read_wiki_data_as_pandas(url)

In [3]:
tables[0]

           Year  Date                                              Event
0  c. 16,000 BC   NaN  During the Last Glacial Maximum, Ireland is co...
1  c. 12,000 BC   NaN  A narrow channel forms between Prehistoric Ire...
2  c. 10,000 BC   NaN  Carbon-dating on bear bones indicate the prese...
3    c. 8000 BC   NaN     Mesolithic hunter-gatherers migrate to Ireland
4    c. 6500 BC   NaN  Mesolithic hunter-gatherers occupy sites such ...
5    c. 4000 BC   NaN  Agriculture (including the keeping of livestoc...
6    c. 3500 BC   NaN  The Neolithic peoples of the Boyne Valley buil...

In [15]:
hist = []
last_date = "<unknown>"
last_name = "<unknown>"
for table_index in range(23):
    for i, row in enumerate(tables[table_index].iterrows()):
        year = row[1].iloc[0]
        md = row[1].iloc[1]
        if pd.isna(md):
            md = ""
        else:
            md = str(md)
        year = str(year)
        # print(year, md)
        date = date_merge(year, md)
        date, rem = date_clean(date)
        remarks = remove_footnotes(row[1].iloc[2])
        if rem != "":
            remarks = f"({rem}) {remarks}"
        # print(date, remarks)

        jd = IndraTime.string_time_to_julian(date)
        if len(jd) == 1:
            jd = (jd[0], jd[0])
        hist.append((jd, date, remarks))

entries = sorted(hist, key=lambda x: x[0])
print(f"| Date | Remarks |")
print( "| ---- | ------- |")
for entry in entries:
    _, date, remarks = entry
    print(f"| {date} | {remarks} |")

| Date | Remarks |
| ---- | ------- |
| 17949 BP | (c.) During the Last Glacial Maximum, Ireland is covered in ice sheets |
| 12000 BC | (c.) A narrow channel forms between Prehistoric Ireland and southwest Scotland |
| 10000 BC | (c.) Carbon-dating on bear bones indicate the presence of Paleolithic people in County Clare. |
| 8000 BC | (c.) Mesolithic hunter-gatherers migrate to Ireland |
| 6500 BC | (c.) Mesolithic hunter-gatherers occupy sites such as that at Mount Sandel in Ulster |
| 4000 BC | (c.) Agriculture (including the keeping of livestock, and crop farming) has its beginnings in Ireland, at sites such as the Céide Fields in Connacht |
| 3500 BC | (c.) The Neolithic peoples of the Boyne Valley built a complex of chamber tombs, standing stones and enclosures over a period of hundreds of years. (Newgrange itself is dated to 3300–2900 BC). |
| 2000 BC | (c.) Bronze Age technologies start to arrive in Ireland, including the moulding of Ballybeg-type flat axes, and the beginnings of copper mining at Ross Island, Killarney and Mount Gabriel. |
| 500 BC | (c.) During the Iron Age in Ireland, Celtic influence in art, language and culture begins to take hold. |
| 300 BC | (c.) Murder of Clonycavan Man, according to radiocarbon dating |
| 200 BC | (c.) La Tène influence from continental Europe influences carvings on the Turoe Stone, Bullaun, County Galway. |
| 100 BC | (c.) Additional works expand the site at Navan Fort (Emain Macha), first occupied in the Neolithic period |
| 100 | (c.) Construction of a series of defensive ditches between the provinces of Ulster and Connacht |
| 140 | (c.) Ptolemy's Geographia provides the earliest known written reference to habitation in the Dublin area, referring to a settlement in the area as Eblana Civitas |
| 220 | (c.) The Annals of the Four Masters, Foras Feasa ar Éirinn, and other semi-historical (non-contemporary) texts, place Cormac mac Airt as a longstanding High King of Ireland. (The Annals date his reign as 226–266, but scholars vary in their assessment of Mac Airt's reign as legend or historical fact) |
| 300 | (c.) Pollen data records from the late Iron Age indicate a resurgence in human activity after a relatively stagnant period |
| 400 | (c.) Niall Noígíallach is placed by Medieval texts as a legendary Goidelic High King of Ireland (the Annals of the Four Masters dates his reign as 378–405) |
| 431 | Palladius is sent as the first bishop "to the Irish believing in Christ" by Pope Celestine I |
| 432 | According to the Annals of Ulster (and other chronicles), Saint Patrick returns to Ireland. |
| 536 | A seemingly global climate event (possibly a volcanic winter) causes crop failures and famine in Ireland. |
| 563 | Irish monastic influence during the Golden Age peaks with the foundation of monastic schools by Saint Columba and Saint Brendan at Iona and Clonfert. (Saint Columbanus would later set up similar institutions in continental Europe, Fursa in East Anglia and Gaul, Aidan at Lindisfarne. Etc.) |
| 664 - 666 | Several sources record a pervasive "yellow plague" on the island. |
| 795 | First Viking raids on Iona, Rathlin Island, and Inishmurray. |
| 830 | Óengus of Tallaght writes the Martyrology of Tallaght, the Prologue of which speaks of the last vestiges of paganism in Ireland |
| 852 | Vikings Ivar Beinlaus and Olaf the White land in Dublin Bay, and establish a fortress close to where the city of Dublin now stands |
| 980 | The King of Dublin Olaf Cuaran abdicates following defeat at the Battle of Tara to Máel Sechnaill mac Domnaill. |
| 988 - 989 | Máel Sechnaill demands (and is paid) "tribute" by the Vikings at Dublin (this tribute date is sometimes recognised as the "foundation date" of Dublin as a city) |
| 1014-04-23 | Defeat of Máel Mórda mac Murchada and Viking forces by the armies of Brian Boru at the Battle of Clontarf marks the beginning of the decline of Viking power in Ireland. |
| 1167 | Following exile by Ruaidrí Ua Conchobair, Dermot MacMurrough seeks support from Henry II of England to reclaim his Kingship. |
| 1171 | Henry II of England lands at Waterford and declares his youngest son John Lord of Ireland. |
| 1175-10-06 | The Treaty of Windsor consolidates Norman influence in Ireland. |
| 1216-11-12 | Great Charter of Ireland issued by Henry III of England. |
| 1252 | The Annals of the Four Masters records a summer-time heat wave and drought. |
| 1297 | The first representative Irish Parliament (of the Lordship of Ireland) meets in Dublin. |
| 1315-05-26 | Edward Bruce arrives in Ireland and rallies many Irish lords against Anglo-Norman control. |
| 1366-04-20 | The Statutes of Kilkenny are passed at Kilkenny to curb the decline of the Hiberno-Norman Lordship of Ireland. |
| 1398 | Gerald FitzGerald, 3rd Earl of Desmond, mysteriously disappears; Gearóid Íarla is forever afterwards judged to be sleeping in a cave under Lough Gur, waiting to gallop out on his silver-shod horse and rescue Ireland at the moment of greatest need. |
| 1472 | The Annals of the Four Masters records that the King of England sent an exotic animal (possibly a giraffe) to Ireland. |
| 1490 | An earthquake takes place at Sliabh Gamh in County Mayo. |
| 1494-12-01 | A parliament summoned by Edward Poyning, Henry VII of England's Lord Deputy, passes Poynings' Law, under which the Irish parliament is to pass no law without the prior consent of the English parliament. |
| 1497 | The Annals of the Four Masters refers to a famine which "prevailed through all Ireland". |
| 1534-06-11 | Thomas FitzGerald, the 10th Earl of Kildare, publicly renounces his allegiance to Henry VIII of England. |
| 1537-02-03 | FitzGerald is hanged, drawn and quartered at Tyburn. |
| 1542 | The Irish parliament passes the Crown of Ireland Act, which establishes a Kingdom of Ireland to be ruled by Henry VIII and his successors. |
| 1570-02-25 | Pope Pius V issues a papal bull, Regnans in Excelsis, declaring Elizabeth I of England a heretic and releasing her subjects from any allegiance to her. |
| 1575 | The Annals of the Four Masters records a drought, in which no rain fell "from Bealtaine to Lammas" (1 May to 1 August), resulting in disease and plague. |
| 1577-11 | The Annals of the Four Masters records that the Great Comet of 1577 "was wondered at by all universally". |
| 1579-07-16 | Second Desmond Rebellion: James FitzMaurice FitzGerald, a cousin of the 14th Earl of Desmond, lands a small force of rebels at Dingle. |
| 1594 | The Nine Years' War commences in Ulster, as Hugh O'Neill and Red Hugh O'Donnell rebel against Elizabeth I's authority in Ulster. |
| 1607-09-14 | The Flight of the Earls: The departure from Ireland of Hugh O'Neill, 2nd Earl of Tyrone and Rory O'Donnell, 1st Earl of Tyrconnell. |
| 1609 | Plantation of Ulster by Scottish Presbyterians begins on a large scale. |
| 1641-10-22 | Irish Rebellion of 1641: Phelim O'Neill leads the capture of several forts in the north of Ireland. |
| 1642 | Irish Confederate Wars: The Irish Catholic Confederation is established, under the nominal overlordship of Charles I of England, with its capital at Kilkenny. |
| 1646 | The members of the Supreme Council are arrested; the General Assembly renounces the agreement with England. |
| 1646-03-28 | The Supreme Council of the Irish Catholic Confederation signs an agreement with a representative of Charles I, which procures some rights for Catholics in return for their military support of the royalists in England. |
| 1647 | A more favorable agreement is reached with Charles's representative, which promises toleration of Catholicism, a repeal of Poynings' Law, and recognition of lands taken by Irish Catholics during the war. |
| 1690-07-01 | Battle of the Boyne |
| 1691-07-12 | Battle of Aughrim; One of the bloodiest fought in Ireland with up to 7,000 people killed |
| 1695 | The Education Act, one of a series of Penal Laws, is passed in 1695. It prohibits Catholics from sending their children to be educated abroad, and remains in place until 1782. |
| 1740 | Extreme winters in successive years result in poor harvests, causing a large scale famine in which between 300,000 and 480,000 die. |
| 1760-02 | Battle of Carrickfergus: A French invasion. |
| 1782 | After agitation by the Irish Volunteers, the Parliament of Great Britain passes a number of reforms—including the implicit repeal of Poynings' Law—collectively referred to as the Constitution of 1782. |
| 1796-12 | Expédition d'Irlande: Attempted French invasion. |
| 1798-05-24 | Battle of Ballymore-Eustace: A miscarried surprise attack on the British garrison at Ballymore in County Kildare is counterattacked and defeated. |
| 1798-08-22 | Irish Rebellion of 1798: One thousand French soldiers land at Kilcummin in support of the rebellion. |
| 1798-08-27 | Battle of Castlebar: A combined French-Irish force defeats a vastly numerically superior British force at Castlebar. |
| 1798-08-27 | Irish Rebellion of 1798: The Republic of Connacht is proclaimed at Castlebar, in the first United Irishmen rebellion. |
| 1801-01-01 | Acts of Union 1800 comes into effect; the Kingdom of Ireland unites with Great Britain, forming the United Kingdom of Great Britain and Ireland. |
| 1803-07-23 | Second United Irishmen rebellion: The Irish nationalist Robert Emmet attempts to seize Dublin Castle. |
| 1829-03-24 | Catholic Emancipation: The Roman Catholic Relief Act 1829 is passed, allowing Catholics to sit in the UK Parliament. |
| 1831-05-03 | Tithe War: A force of one hundred and twenty armed police forcibly takes possession of cattle belonging to a Roman Catholic priest, in lieu of his compulsory tithe to the Anglican Church of Ireland. |
| 1834-12-17 | Dublin and Kingstown Railway is opened as the first commercial railway in Ireland. |
| 1836 | Tithe War: The passage of the Tithe Commutation Act 1836 reduces the amount of the church's tithe and changes the manner of payment, which largely ends the unrest. |
| 1845 - 1849 | Great Irish Famine: A potato blight destroys two-thirds of Ireland's staple crop, leading to an estimated 1 million deaths and emigration of a further 1 million people. |
| 1867-03-05 | Fenian Rising. |
| 1886 | 1st Home Rule Bill, also known as the Government of Ireland Bill 1886. |
| 1893 | 2nd Home Rule Bill, also known as the Government of Ireland Bill 1893. |
| 1913-08-19 | A Dublin businessman, William Martin Murphy, fires forty workers he suspects belong to the Irish Transport and General Workers' Union (ITGWU). A resulting strike and related civil unrest, the Dublin Lockout, lasts from August 1913 to January 1914. |
| 1914-09-18 | Government of Ireland Act is passed, providing for Irish Home Rule, but its application is simultaneously postponed for the duration of World War I. |
| 1916-04-24 | Easter Rising: The Irish Republican Brotherhood leads an action which seizes key government buildings in Dublin, and issues the Proclamation of the Irish Republic. The Rising lasts til 29 April 1916. |
| 1918-04-18 | Acting on a resolution of Dublin Corporation, the Lord Mayor convenes a conference at the Mansion House to devise plans to resist conscription. |
| 1918-12-14 | A general election returns a majority for Sinn Féin. |
| 1919-01-21 | The First Dáil of the Irish Republic meets and issues a Declaration of Independence from the UK. |
| 1919-01-21 | Irish War of Independence: Volunteers of the Irish Republican Army (IRA) kill two members of the Royal Irish Constabulary in what is considered to be the first act of the War of Independence. |
| 1921-05-03 | Northern Ireland is established. |
| 1921-12-06 | Irish War of Independence: The War of Independence ends when negotiations between the British government and representatives of the de facto Irish Republic conclude with the signing of the Anglo-Irish Treaty and the creation of the Irish Free State. |
| 1922-06-28 | Irish Civil War: Bombardment by Michael Collins of Anti-Treaty forces occupying the Four Courts marks the start of the Irish Civil War, |
| 1923-05-24 | Irish Civil War: IRA Chief of Staff Frank Aiken orders volunteers to dump arms, effectively ending the Civil War. |
| 1925-09-17 | An election was held for 19 of the 60 seats in Seanad Éireann. Single transferable vote was used, with the entire state forming a single 19-seat electoral district, the largest number of members elected in one contest in Irish history. |
| 1928-12-12 | The new Irish Free State introduced its own currency from 1928, the Irish pound. |
| 1932-06-1932 | The 31st International Eucharistic Congress, held in Dublin 22–26 June 1932. |
| 1937-12-29 | The Constitution of Ireland comes into force, replacing the Irish Free State with a new state called "Éire", or, in the English language, "Ireland" |
| 1949-04-18 | The Republic of Ireland Act abolishes the statutory functions of the British monarch in relation to Ireland and confers them on the President of Ireland. |
| 1955-12-14 | Ireland joins the United Nations along with sixteen other sovereign states. |
| 1969-08 | Troops are deployed on the streets of Northern Ireland, marking the start of the Troubles. |
| 1972-03 | The Parliament of Northern Ireland is prorogued (and abolished later the following year). |
| 1973-01-01 | Ireland joins the European Community along with the United Kingdom and Denmark. |
| 1973-06 | The Northern Ireland Assembly is elected. |
| 1974-01-01 | A power-sharing Northern Ireland Executive takes office, but resigns in May as a result of the Ulster Workers' Council strike; the Assembly is suspended and later abolished. |
| 1979-09-29 | Pope John Paul II visited Ireland from Saturday, 29 September to Monday, 1 October 1979, the first trip to Ireland by a Pope. |
| 1985-11-15 | The governments of Ireland and the United Kingdom sign the Anglo-Irish Agreement. |
| 1990-12-03 | Mary Robinson becomes the first female President of Ireland. |
| 1995-01-01 | Ireland enters the Celtic Tiger period, a time of high economic growth which continues until 2007. |
| 1998-04 | The Belfast Agreement is signed; as a result, the Northern Ireland Assembly is elected, to which powers are devolved in 1999 and a power-sharing Executive takes office. |
| 1999-01-01 | Ireland yields its official currency, the Irish pound, and adopts the Euro. |
| 2013-12-15 | The Economic Adjustment Programme for Ireland, which Ireland entered into in November 2010 following the post-2008 Irish economic downturn and related banking crisis, officially comes to a close. |
| 2015-05-23 | A 62% to 38% referendum result makes Ireland the first country to legalise same-sex marriage by popular vote. |
| 2018-08 | Pope Francis visited Ireland on 25 and 26 August 2018, as part of the World Meeting of Families 2018. |
| 1879-1882 | The "Land War," a period of rural agitation for fair rents and free sale of land to liberate Irish peasants from generations of debt and tenancy. |

In [6]:
        remarks = ""
        pre_rem = ""
        post_rem = ""
        na_rem = ""
        date_raw = row[1].iloc[2]
        name = row[1].iloc[1]
        if pd.isna(date_raw) or date_raw == "" or date_raw == "??":
            na_rem = f"<NA>, date from previous table entry {last_name} used! "
            date_raw = last_date
        else:
            last_date = date_raw
            last_name = name
        date_raw = remove_footnotes(date_raw)
        ind = date_raw.find("ka,")
        if ind != -1:
            post_rem = date_raw[ind+3:]
            date_raw = date_raw[:ind] + "ka"
        if date_raw.startswith("ca. "):
            pre_rem = date_raw[:4]
            date_raw = date_raw[4:]
        dri = date_raw.split('(')
        if len(dri) > 1:
            date_raw = dri[0]
            post_rem = '('+'('.join(dri[1:])
        ind = date_raw.find('?')
        if ind != -1:
            post_rem = date_raw[ind:]
            date_raw = date_raw[:ind]
            
        date_raw = date_raw.replace(',', '.').replace('-', '–')
        date_inter = date_raw
        dps = date_raw.split(' ')
        if len(dps)>1 and dps[1] == 'mya':
            if '–' in dps[0]:
                dpsi = dps[0].split('–')
                date_inter = f"{dpsi[0]} mya - {dpsi[1]} " + ' '.join(dps[1:])
                  
        # print(f"Date_raw: {date_raw}")
        
        date, remarks = date_clean(date_inter)
        remarks = pre_rem + remarks + post_rem + na_rem
        # print(f"cv d:{date}, r:{remarks}")
        spec = row[1].iloc[3]
        if pd.isna(spec):
            spec = ""
        spec = remove_footnotes(spec)
        disc_date = row[1].iloc[4]
        if pd.isna(disc_date):
            disc_date = ""
        disc_date = remove_footnotes(str(disc_date))
        locat = row[1].iloc[5]
        if pd.isna(locat):
            locat = ""
        locat = remove_footnotes(locat)
        disc = row[1].iloc[6]
        if pd.isna(disc):
            disc = ""
        disc = remove_footnotes(disc)
        jd = IndraTime.string_time_to_julian(date)
        if len(jd) == 1:
            jd = (jd[0], jd[0])
        hist.append((jd, date, remarks, name, spec, disc_date, locat, disc))

entries = sorted(hist, key=lambda x: x[0])
print(f"| Date | Remarks | Name | Species | Discovery date | Location | First description |")
print( "| ---- | ------- | ---- | ------- | -------------- | -------- | ---------- |")
for entry in entries:
    _, date, remarks, name, spec, disc_date, locat, disc = entry
    date = date.replace("1 BC", "0 BC")
    print(f"| {date} | {remarks} | {name} | {spec} | {disc_date} | {locat} | {disc} |")

IndentationError: unexpected indent (1415617082.py, line 1)

In [5]:
url= "https://en.wikipedia.org/wiki/Flyby_anomaly"
tables = read_wiki_data_as_pandas(url)
ptab = polars.from_pandas(tables[0])
print(ptab)

shape: (11, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ CraftData ┆ Galileo I ┆ Galileo   ┆ NEAR      ┆ … ┆ Juno      ┆ Hayabusa2 ┆ OSIRIS-RE ┆ BepiColo │
│ ---       ┆ ---       ┆ II        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ x[8]      ┆ mbo[9]   │
│ str       ┆ str       ┆ ---       ┆ str       ┆   ┆ str       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆           ┆   ┆           ┆           ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Date      ┆ 1990-12-0 ┆ 1992-12-0 ┆ 1998-01-2 ┆ … ┆ 2013-10-0 ┆ 2015-12-0 ┆ 2017-09-2 ┆ 2020-04- │
│           ┆ 8         ┆ 8         ┆ 3         ┆   ┆ 9         ┆ 3         ┆ 2         ┆ 10       │
│ Speed at  ┆ 8.949     ┆ 8.877     ┆ 6.851     ┆ … ┆ null      ┆ 4.7       ┆ null      ┆ null     │
│ infinity, ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ km/s      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Speed at  ┆ 13.738    ┆ 8.877     ┆ 12.739    ┆ … ┆ 14.93     ┆ 10.3      ┆ 8.5       ┆ null     │
│ perigee,  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ km/s      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Impact    ┆ 11261     ┆ null      ┆ 12850     ┆ … ┆ null      ┆ null      ┆ null      ┆ 19064    │
│ parameter ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ , km      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Minimal   ┆ 956       ┆ 303       ┆ 532       ┆ … ┆ 561[10]   ┆ 3090[11]  ┆ 17237     ┆ 12677    │
│ altitude, ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ km        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Trajector ┆ 142.9     ┆ 138.9     ┆ 108.0     ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ y inclina ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ tion to   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ equa…     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Deflectio ┆ 47.46     ┆ 51.1      ┆ 66.92     ┆ … ┆ null      ┆ 80        ┆ null      ┆ null     │
│ n angle,  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ degrees   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Speed     ┆ 3.92±0.08 ┆ −4.60±1.0 ┆ 13.46±0.1 ┆ … ┆ 0±0.8[5]  ┆ ?         ┆ ?         ┆ ?        │
│ increment ┆           ┆ 0         ┆ 3         ┆   ┆           ┆           ┆           ┆          │
│ at        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ infinity, ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ m…        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Speed     ┆ 2.560±0.0 ┆ −9.200±0. ┆ 7.210±0.0 ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ increment ┆ 50        ┆ 600       ┆ 700       ┆   ┆           ┆           ┆           ┆          │
│ at        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ perigee,  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mm…       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Gained    ┆ 35.1±0.7  ┆ null      ┆ 92.2±0.9  ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ energy,   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ J/kg      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [6]:

# Transpose the table, get column names from previous index
ptabt = ptab.transpose(include_header=True)
print(ptabt)

shape: (13, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ column    ┆ column_0  ┆ column_1  ┆ column_2  ┆ … ┆ column_7  ┆ column_8  ┆ column_9  ┆ column_1 │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ 0        │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ CraftData ┆ Date      ┆ Speed at  ┆ Speed at  ┆ … ┆ Deflectio ┆ Speed     ┆ Speed     ┆ Gained   │
│           ┆           ┆ infinity, ┆ perigee,  ┆   ┆ n angle,  ┆ increment ┆ increment ┆ energy,  │
│           ┆           ┆ km/s      ┆ km/s      ┆   ┆ degrees   ┆ at        ┆ at        ┆ J/kg     │
│           ┆           ┆           ┆           ┆   ┆           ┆ infinity, ┆ perigee,  ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆ m…        ┆ mm…       ┆          │
│ Galileo I ┆ 1990-12-0 ┆ 8.949     ┆ 13.738    ┆ … ┆ 47.46     ┆ 3.92±0.08 ┆ 2.560±0.0 ┆ 35.1±0.7 │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆           ┆ 50        ┆          │
│ Galileo   ┆ 1992-12-0 ┆ 8.877     ┆ 8.877     ┆ … ┆ 51.1      ┆ −4.60±1.0 ┆ −9.200±0. ┆ null     │
│ II        ┆ 8         ┆           ┆           ┆   ┆           ┆ 0         ┆ 600       ┆          │
│ NEAR      ┆ 1998-01-2 ┆ 6.851     ┆ 12.739    ┆ … ┆ 66.92     ┆ 13.46±0.1 ┆ 7.210±0.0 ┆ 92.2±0.9 │
│           ┆ 3         ┆           ┆           ┆   ┆           ┆ 3         ┆ 700       ┆          │
│ Cassini   ┆ 1999-08-1 ┆ 16.01     ┆ 19.03     ┆ … ┆ 19.66     ┆ −2±1      ┆ −1.700±0. ┆ null     │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆           ┆ 9000      ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Rosetta-I ┆ 2009-11-1 ┆ null      ┆ 13.34     ┆ … ┆ null      ┆ ~0        ┆ −0.004±0. ┆ null     │
│ II        ┆ 3         ┆           ┆           ┆   ┆           ┆           ┆ 044       ┆          │
│ Juno      ┆ 2013-10-0 ┆ null      ┆ 14.93     ┆ … ┆ null      ┆ 0±0.8[5]  ┆ null      ┆ null     │
│           ┆ 9         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Hayabusa2 ┆ 2015-12-0 ┆ 4.7       ┆ 10.3      ┆ … ┆ 80        ┆ ?         ┆ ?         ┆ ?        │
│           ┆ 3         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ OSIRIS-RE ┆ 2017-09-2 ┆ null      ┆ 8.5       ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ x[8]      ┆ 2         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ BepiColom ┆ 2020-04-1 ┆ null      ┆ null      ┆ … ┆ null      ┆ ?         ┆ ?         ┆ ?        │
│ bo[9]     ┆ 0         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [7]:
for i, row in enumerate(ptabt.iter_rows(named=True)):
    print("|", end="")
    for key in row:
        print(f" {row[key]} |", end="")
    print()
    if i == 0:
        print("|", end="")
        for key in row:
            print(f" {'-'*len(row[key])} |", end="")
        print()

| CraftData | Date | Speed at infinity, km/s | Speed at perigee, km/s | Impact parameter, km | Minimal altitude, km | Spacecraft mass, kg | Trajectory inclination to equator, degrees | Deflection angle, degrees | Speed increment at infinity, mm/s | Speed increment at perigee, mm/s | Gained energy, J/kg |
| --------- | ---- | ----------------------- | ---------------------- | -------------------- | -------------------- | ------------------- | ------------------------------------------ | ------------------------- | --------------------------------- | -------------------------------- | ------------------- |
| Galileo I | 1990-12-08 | 8.949 | 13.738 | 11261 | 956 | 2497.1 | 142.9 | 47.46 | 3.92±0.08 | 2.560±0.050 | 35.1±0.7 |
| Galileo II | 1992-12-08 | 8.877 | 8.877 | None | 303 | 2223.0 | 138.9 | 51.1 | −4.60±1.00 | −9.200±0.600 | None |
| NEAR | 1998-01-23 | 6.851 | 12.739 | 12850 | 532 | 730.40 | 108.0 | 66.92 | 13.46±0.13 | 7.210±0.0700 | 92.2±0.9 |
| Cassini | 1999-08-18 | 16.01 | 19.03 | 8973 | 1172 | 4612.1 | 25.4 | 19.66 | −2±1 | −1.700±0.9000 | None |
| Rosetta-I | 2005-03-04 | 3.863 | 10.517 | 22680.49 | 1954 | 2895.2 | 144.9 | 99.396 | 1.82±0.05 | 0.670±0.0200 | 7.03±0.19 |
| MESSENGER | 2005-08-02 | 4.056 | 10.389 | 22319 | 2336 | 1085.6 | 133.1 | 94.7 | 0.02±0.01 | 0.008±0.004 | None |
| Rosetta-II | 2007-11-13 | None | 12.49 | None | 5322 | 2895 | None | None | ~0 | ~0.000±0.000 | None |
| Rosetta-III | 2009-11-13 | None | 13.34 | None | 2483 | 2895 | None | None | ~0 | −0.004±0.044 | None |
| Juno | 2013-10-09 | None | 14.93 | None | 561[10] | ~2720 | None | None | 0±0.8[5] | None | None |
| Hayabusa2 | 2015-12-03 | 4.7 | 10.3 | None | 3090[11] | 590 | None | 80 | ? | ? | ? |
| OSIRIS-REx[8] | 2017-09-22 | None | 8.5 | None | 17237 | None | None | None | ? | ? | ? |
| BepiColombo[9] | 2020-04-10 | None | None | 19064 | 12677 | 4000 | None | None | ? | ? | ? |

In [8]:
tables[0]

,CraftData,Galileo I,Galileo II,NEAR,Cassini,Rosetta-I,MESSENGER,Rosetta-II,Rosetta-III,Juno,Hayabusa2,OSIRIS-REx[8],BepiColombo[9]
0,Date,1990-12-08,1992-12-08,1998-01-23,1999-08-18,2005-03-04,2005-08-02,2007-11-13,2009-11-13,2013-10-09,2015-12-03,2017-09-22,2020-04-10
1,"Speed at infinity, km/s",8.949,8.877,6.851,16.01,3.863,4.056,NaN,NaN,NaN,4.7,NaN,NaN
2,"Speed at perigee, km/s",13.738,8.877,12.739,19.03,10.517,10.389,12.49,13.34,14.93,10.3,8.5,NaN
3,"Impact parameter, km",11261,NaN,12850,8973,22680.49,22319,NaN,NaN,NaN,NaN,NaN,19064
4,"Minimal altitude, km",956,303,532,1172,1954,2336,5322,2483,561[10],3090[11],17237,12677
5,"Spacecraft mass, kg",2497.1,2223.0,730.40,4612.1,2895.2,1085.6,2895,2895,~2720,590,NaN,4000
6,"Trajectory inclination to equator, degrees",142.9,138.9,108.0,25.4,144.9,133.1,NaN,NaN,NaN,NaN,NaN,NaN
7,"Deflection angle, degrees",47.46,51.1,66.92,19.66,99.396,94.7,NaN,NaN,NaN,80,NaN,NaN
8,"Speed increment at infinity, mm/s",3.92±0.08,−4.60±1.00,13.46±0.13,−2±1,1.82±0.05,0.02±0.01,~0,~0,0±0.8[5],?,?,?
9,"Speed increment at perigee, mm/s",2.560±0.050,−9.200±0.600,7.210±0.0700,−1.700±0.9000,0.670±0.0200,0.008±0.004,~0.000±0.000,−0.004±0.044,NaN,?,?,?
10,"Gained energy, J/kg",35.1±0.7,NaN,92.2±0.9,NaN,7.03±0.19,NaN,NaN,NaN,NaN,?,?,?